
.container-fluid {
    height: 100vh !important;
}

#payments-list-table {
    height: calc(100% - 65px);
}

label {
    margin-bottom: 0 !important;
}

.toast {

    max-width: 750px !important;
    width: auto !important;

    & .toast-message {
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
    }

}


/*___ Table ___*/

table {
    height: calc(100% - 2px);
}

tbody {
    display: block;
    height: calc(100% - 77px);
    overflow: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead tr th, tbody tr td {

    /* category */
    &:nth-child(1) {
        width: 15%;
    }

    /* date */
    &:nth-child(2) {
        width: 14%;
    }

    /* value */
    &:nth-child(3) {
        width: 14%;
    }

    /* institution */
    &:nth-child(4) {
        width: 14%;
    }

    /* payment method */
    &:nth-child(5) {
        width: 14%;
    }

    /* installments */
    &:nth-child(6) {
        width: 15%;
    }

    /* description */
    &:nth-child(7) {
        width: 14%;
    }

    text-align: center;

}

tbody tr td {
    border: none !important;
    cursor: pointer;
}


/*___ Scrollbar ___*/

::-webkit-scrollbar {
    background-color: transparent !important;
    width: 8px !important;
    height: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #00000000 !important;
    border-radius: 8px !important;
    transition: background-color .3s;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background-color: #3b3b3b !important;
    border-radius: 10px !important;
    transition: background-color .3s;

    &:hover {
        background-color: #3b3b3b !important;
    }

}